---
---
<aside class="starlight-aside starlight-aside--danger" aria-label="Danger">
  <p class="starlight-aside__title" aria-hidden="true">Danger</p>
  <section class="starlight-aside__content"><slot /></section>
</aside>
