---
---
<aside class="starlight-aside starlight-aside--note" aria-label="Note">
  <p class="starlight-aside__title" aria-hidden="true">Note</p>
  <section class="starlight-aside__content"><slot /></section>
</aside>
