---
---
<aside class="starlight-aside starlight-aside--tip" aria-label="Tip">
  <p class="starlight-aside__title" aria-hidden="true">Tip</p>
  <section class="starlight-aside__content"><slot /></section>
</aside>
