---
---
<aside class="starlight-aside starlight-aside--caution" aria-label="Warning">
  <p class="starlight-aside__title" aria-hidden="true">Warning</p>
  <section class="starlight-aside__content"><slot /></section>
</aside>
